/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  max-height: 400px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/* To Do */
/* Organize and clean up code */


/* Create max-width for one card */

/* loader style */
.search .container {
  position: relative;
}

.search__loader {
  position: absolute;
  width: 100%;
  top: 5rem;

}

.search__loader img {
  max-width: 2em;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spinAndGrow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* end loader style */

body {
  text-align: center;
  background-color: #dddddd;
  font-size: 1rem;
  font-size: clamp(1rem, 0.8571428571428572rem + 0.7142857142857143vw, 1.5rem);
}

.container {
  max-width: 90rem;
  margin-inline: auto;
}

.search {
  margin-bottom: 2%;
}

.search__form {
  margin: 0 auto;
}

.form__input{
  margin: 0 auto;
  width: 80%;
}

.search__form input,
.search__form select {
  padding: 1px 2px;
}


/* Utility */
.column {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1em;
  gap: .25rem;
}



.btn-search {
  display: block;
  margin-inline: auto;
  margin-top: 2em;
  border-radius: 6.25rem;
  padding: 0.75rem 1rem;
}

.notify-searching {
  visibility: hidden;
}

/*  */
.notify-searching {
  margin-top: 5em;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* animation for spin and grow */
.poke-ball {
  max-width: 2.5em;
  animation-name: spinAndGrow;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinAndGrow {

  0% {
    transform: rotate(0deg) scale(1)
  }

  50% {
    transform: rotate(180deg) scale(1.5);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }

}

.notify-no-search {
  display: none;
}

/* class to set animation none  */
.none {
  animation: none;
}

/* results container */

.cards-results section {
  border-bottom: 1px solid black;
}

.cards-results ul {
  padding: 0;
  list-style: none;
  display: grid;
  place-content: center;
}

.cards-results ul li {
  text-align: start;

}


.btn-scroll-up {
  position: fixed;
  right: 4%;
  bottom: 0;
  width: 1.5em;
  font-size: 1.5rem;
  z-index: 1;
  cursor: pointer;
  display: none;
  padding: 5px;
  background-color: #fff500;
  border-radius: 45%;
}

/* disable element */
.disabled {
  pointer-events: none;
  cursor: not-allowed;
  visibility: hidden;

}



/* Media queries*/
/* 1000px  */
@media (min-width:62.5rem) {

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }

  .cards-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;
  }

  .cards-results img:hover {
    transform: scale(1.15);
  }

  .cards-results section {
    border: 1px solid black;
  }

}
