/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  max-height: 400px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body {
  text-align: center;
  background-color: #dddddd;
}

.search {
  margin-bottom: 2%;
}

.set {
  min-width: 250px;
}


.cards-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
}

.cards-results section {
  border: 1px solid black;
}

.cards-results ul li {
  text-align: start;
}


/* Media queries*/
@media (max-width:1000px) {
  .search {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 2rem;
  }
}

/* Media queries*/
@media (max-width:500px) {
  .search {
    font-size: 1.5rem;
  }
}